* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #08102b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-box {
    background: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.icon-top {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.input-group {
    margin: 20px 0;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.input-group input, .input-group textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px 0;
    font-size: 14px;
}

.input-group span {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 12px;
    color: red;
}

.input-group span i {
    color: seaGreen;
}

button {
    background: #141a34;
    color: #fff;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

#submit-error {
    color: red;
    display: block;
    text-align: center;
}